body{
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.formCadastro{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  /* justify-content: center; */
  height: 60vh;
  width: 60vw;
}

.formCadastroInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}